# 2기 과제 - 파이썬 기초 문제 풀기
- 지금까지 배운 기초 문법을 토대로 아래의 문제들을 풀어보세요
- **최대한 간단하게** 소스코드를 작성해 주세요
- '이름_정답.ipynb' 로 저장 후 과제 폴더에 제출해주세요 (2020.09.18 (금) 까지 제출)

> 1. 화면에 Hello World 문자열을 출력하세요.

In [13]:
print("Hello World")

Hello World

> 2. print() 함수를 사용하여 다음과 같이 출력하세요. (hint : sep 인자를 사용하세요)

실행 예 :   
**월요일,화요일,수요일,목요일**

In [14]:
print('월','화','수','목요일',sep='요일,')

월요일,화요일,수요일,목요일

> 3. 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다. 두 변수를 이용하여 아래와 같이 출력해보세요.

실행 예 :  
**hello! python**

In [15]:
s = "hello"
t = "python"

# start code 와 end code 사이에만 코드를 작성해 주세요!

# ---------- start code ----------
print(s,"!",t)
# ---------- end code ------------

hello ! python

> 4. a와 b의 데이터 타입을 출력하세요.    

실행 예 :   
**<class 'int'>**  
**<class 'str'>**

In [16]:
a = 128
b = 'Turtle'

# start code 와 end code 사이에만 코드를 작성해 주세요!

# ---------- start code ----------
print(type(a) , type(b),sep='\n')
# ---------- end code ------------

<class 'int'>
<class 'str'>

> 5. 문자열 '720'를 정수형으로 변환해보세요.

In [17]:
num_str = "720"

# ---------- start code ----------
num_int = int('720')
# ---------- end code ------------

print(num_int, type(num_int))

720 <class 'int'>

> 6. string 이 바인딩하는 문자열에서 네번째와 일곱번째 문자를 출력하세요.  

실행 예 :  
**o t**

In [18]:
string = "algorithm"

# ---------- start code ----------
print(string[3],string[6])
# ---------- end code ------------

o t

> 7. 문자열을 거꾸로 뒤집어 출력하세요.  

실행 예 :   
**NOHTYP**

In [19]:
string = "PYTHON"

# ---------- start code ----------
print(''.join(reversed(string)))
# ---------- end code ------------

NOHTYP

> 8. 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.  

실행 예 :    
**010 1234 1234**

In [20]:
phone_num = "010-1234-1234"

# ---------- start code ----------
phone_num1 = phone_num.replace("-"," ")
# ---------- end code ------------

print(phone_num1)

010 1234 1234

> 9. 다음과 같은 문자열이 있을 때 이를 소문자 datascience로 변경하여 출력하세요.

In [21]:
string = 'DATASCIENCE'

# ---------- start code ----------
print(string.lower())
# ---------- end code ------------

datascience

> 10. color 리스트에는 아래와 같이 네 개의 색이 바인딩되어 있습니다. "purple"을 "red"와 "blue" 사이에 추가하고 출력하세요.

In [22]:
color = ["black", "white", "red", "blue", "yellow"]

# ---------- start code ----------
color.insert(3,"purple")
color
# ---------- end code ------------

['black', 'white', 'red', 'purple', 'blue', 'yellow']

> 11. alpha 리스트에서 '100'를 삭제하고 출력하세요.

In [23]:
alpha = ['a', 'b', '100', 'c', 'd']

# ---------- start code ----------
del alpha[2]
alpha
# ---------- end code ------------

['a', 'b', 'c', 'd']

> 12. 다음 리스트에서 최댓값과 최솟값을 출력하세요. (힌트: min(), max() 함수 사용) 

실행 예 :   
**max:  7**  
**min:  1**

In [24]:
nums = [1, 2, 3, 4, 5, 6, 7]

# ---------- start code ----------
print("max:",max(nums))
print("min:",min(nums))
# ---------- end code ------------

max: 7
min: 1

> 13. 다음 리스트에 저장된 데이터의 개수를 출력하세요.

In [25]:
day = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]

# ---------- start code ----------
len(day)
# ---------- end code ------------

7

> 14. 다음 리스트의 평균과 합을 출력하세요.

In [26]:
nums = [1, 2, 3, 4, 5]

# ---------- start code ----------
print("합:",sum(nums))
print("평균:",sum(nums)/5)
# ---------- end code ------------

합: 15
평균: 3.0

> 15. interest 리스트에는 아래의 데이터가 바인딩되어 있습니다. 리스트 인덱싱을 사용하여 아래와 같이 화면에 출력하세요.  

실행 예 :   
**삼성전자 Naver**

In [27]:
interest = ['삼성전자', 'LG전자', 'Naver']

# ---------- start code ----------
print(interest[0],interest[2])
# ---------- end code ------------

삼성전자 Naver

> 16. empty 이름의 비어있는 튜플을 만드세요.

In [28]:
# ---------- start code ----------
empty = ()
# ---------- end code ------------

print(type(empty))

<class 'tuple'>

> 17. list [5, 3, 1, -1, -3, -5, -7, -9] 가 출력되게 만드세요. 리스트를 만들 때는 'range'를 사용해야 합니다.

In [29]:
# ---------- start code ----------
list=list(range(-9,6,2))
list.sort(reverse=True)
# ---------- end code ------------

print(list)

[5, 3, 1, -1, -3, -5, -7, -9]

> 18. 국어, 영어, 수학, 과학 점수가 있을 때 한 과목이라도 50점 미만이면 불합격이라고 정했습니다.   
코드를 완성하여 합격이면 True, 불합격이면 False가 출력되게 만드세요.

In [30]:
kor = 92
eng = 47
mat = 86
sci = 81

# ---------- start code ----------
if kor<50 or eng<50 or mat<50 or sci<50:
    print(False)
else: print(True)
# ---------- end code ------------

False

> 19. 사용자에게 정수 세 개를 **입력받으면** 합계를 출력하는 코드를 작성하세요. (힌트:input() 함수 사용)

In [31]:
num1=int(input("첫 번째 정수를 입력하세요:"))
num2=int(input("두 번째 정수를 입력하세요:"))
num3=int(input("세 번째 정수를 입력하세요:"))
print(num1+num2+num3)

첫 번째 정수를 입력하세요:5
두 번째 정수를 입력하세요:6
세 번째 정수를 입력하세요:7
18

> 20-1. 다음 과일 이름과 색깔을 딕셔너리로 구성한 뒤 출력하세요.  
20-2. 만든 딕셔너리를 사용하여 "grape" 의 색깔을 출력하세요.

|과일|색깔|
|------|---|
|apple|red|
|grape|purple|
|lemon|yellow|

In [32]:
# 20-1 question ------------------
dic={'apple':'red','grape':'purple','lemon':'yellow'}
dic
# ---------- end code ------------


# 20-2 question ------------------
dic['grape']
# ---------- end code ------------

'purple'

> 21. icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하세요.

In [33]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

# ---------- start code ----------
icecream['탱크보이']+icecream['폴라포']+icecream['빵빠레']+icecream['월드콘']+icecream['메로나']
# ---------- end code ------------

6700

> 22. 아래 두 개의 튜플을 하나의 딕셔너리로 변환하여 출력하세요. keys를 키로, vals를 값으로 저장해야 합니다.

In [34]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

# ---------- start code ----------
a=dict(zip(keys, vals))
print(a)
# ---------- end code ------------

{'apple': 300, 'pear': 250, 'peach': 400}

> 23. x의 값이 10이 아닐 때 'ok'가 출력되게 만드세요. (if 조건문 사용)

In [35]:
x = 5

# ---------- start code ----------
if x!=10:
    print("ok")
# ---------- end code ------------

ok

> 24. 변수 x가 11과 20 사이면 '11-20', 21과 30 사이면 '21-30', 아무것도 해당하지 않으면 '아무것도 해당하지 않음'이 출력되게 만드세요.

In [36]:
x = int(input())

# ---------- start code ----------
if 11<=x<=20:
    print("11-20")
elif 21<=x<=30:
    print("21-30")
else:
    print("아무것도 해당하지 않음")
# ---------- end code ------------

56
아무것도 해당하지 않음

> 25. 리스트 x에 들어있는 각 요소에 10을 곱한 값이 출력되게 만드세요. 모든 숫자는 공백으로 구분하여 한 줄로 출력되어야 합니다.

실행 예 :   
**490 -170 250 1020 80 620 210**

In [37]:
x = [49, -17, 25, 102, 8, 62, 21]

# ---------- start code ----------
for i in x:
    print(i * 10, end=' ')
# ---------- end code ------------

490 -170 250 1020 80 620 210

> 26. 0과 73 사이의 숫자 중 3으로 끝나는 숫자만 출력되게 만드세요.  

실행 예 :    
**3 13 23 33 43 53 63 73**

In [38]:
for x in range(0,74,1):
    if x%10==3:
        print(x, end=" ")

3 13 23 33 43 53 63 73

> 27. 리스트 a에 들어있는 문자열 중에서 길이가 5인 것들만 리스트 형태로 출력되게 만드세요 (hint: 리스트 표현식)

In [39]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']

# ---------- start code ----------
b = [t for t in a if len(t)==5]
# ---------- end code ------------

print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

> 28. 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 "print_arithmetic_operation" 함수를 작성하라.  

실행 예 :  
**3 + 4 = 7**  
**3 - 4 = -1**  
**3 * 4 = 12**  
**3 / 4 = 0.75**

In [40]:
# ---------- start code ----------    
def print_arithmetic_operation(a, b):
    print(a, "+", b, "=", a + b)
    print(a, "-", b, "=", a - b)
    print(a, "*", b, "=", a * b)
    print(a, "/", b, "=", a / b)
# ---------- end code ------------                                 
 
print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

> 29. 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.  

실행 예 :   
**2**  
**10**   
**12**

In [41]:
# ---------- start code ----------  
def print_even (a) :
    for x in a :
        if x%2==0 :
            print(x)
# ---------- end code ------------  

print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

> 30. 아래와 같이 "price_list" 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라. (hint: enumerate)  

실행 예 :   
**0 32100**  
**1 32150**  
**2 32000**  
**3 32500**

In [42]:
price_list = [32100, 32150, 32000, 32500]

# ---------- start code ----------   
for x,y in enumerate(price_list):
    print(x, end=" ")
    print(y)
# ---------- end code ------------

0 32100
1 32150
2 32000
3 32500

# 보너스 문제
- 아래 네 개의 문제 중 **두 개**를 선택해서 풀고, 주석을 통해 코드를 간단히 설명해주세요.

## 1. 숫자 Up & Down 게임
- 컴퓨터가 1~100 사이의 랜덤한 수를 제시하고 사용자가 그 수를 맞추는 게임을 만들어보세요.
- 실행 예 :   

1~100 숫자 Up & Down 게임을 시작합니다 !!!  
++++++++++++++++++++++++++++++++++++  
1 ~ 100 사이의 숫자를 입력하세요 : 60  
Down  
1 ~ 100 사이의 숫자를 입력하세요 : 55  
Up  
1 ~ 100 사이의 숫자를 입력하세요 : 57  
Up   
++++++++++++++++++++++++++++++++++++  
4 번 만에 정답을 맞추셨습니다

In [43]:
print("1~100 숫자 Up & Down 게임을 시작합니다 !!!")
print("+++++++++++++++++++++++++++++++++++++++++++")
import random #랜덤 숫자 불러오기
x = random.randint(1,100) 

count=1 #횟수

i=int(input("1~100 사이의 숫자를 입력하세요:"))
while True:    
    if i<x:
        print('Up')
        count=count+1
        i=int(input("1~100 사이의 숫자를 입력하세요:"))
    if i>x:
        print('Down')
        count=count+1
        i=int(input('1~100 사이의 숫자를 입력하세요:'))
    if i==x:
        print('*************************************')
        print(count,"번 만에 정답을 맞추셨습니다.")
        break

1~100 숫자 Up & Down 게임을 시작합니다 !!!
+++++++++++++++++++++++++++++++++++++++++++
1~100 사이의 숫자를 입력하세요:50
Down
1~100 사이의 숫자를 입력하세요:20
Up
1~100 사이의 숫자를 입력하세요:30
Up
1~100 사이의 숫자를 입력하세요:40
Down
1~100 사이의 숫자를 입력하세요:35
*************************************
5 번 만에 정답을 맞추셨습니다.

## 2. 구구단 출력하기
- 2단에서 9단까지 구구단을 출력하세요.
- 실행 예 :   
    
★ 구구단을 출력합니다.  

------- [2단] -------  
2 X 1 = 2  
2 X 2 = 4  
2 X 3 = 6  
2 X 4 = 8  
2 X 5 = 10  
2 X 6 = 12  
2 X 7 = 14  
2 X 8 = 16  
2 X 9 = 18  
------- [3단] -------  
3 X 1 = 3  
3 X 2 = 6  
3 X 3 = 9  

...

------- [9단] -------  
9 X 1 = 9  
9 X 2 = 18  
9 X 3 = 27  
9 X 4 = 36  
9 X 5 = 45  
9 X 6 = 54  
9 X 7 = 63  
9 X 8 = 72  
9 X 9 = 81

In [44]:
print("★구구단을 출력합니다.")
for x in range(2,10):               #2단부터 9단까지 범위
    print("-----[",x,']단',"-----")  # 실행 예시와 비슷하게 만들기
    for y in range(1,10):  #1부터 9까지 곱하는 수
        print(x,'X',y,'=',x*y)

★구구단을 출력합니다.
-----[ 2 ]단 -----
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
-----[ 3 ]단 -----
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
-----[ 4 ]단 -----
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
-----[ 5 ]단 -----
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
-----[ 6 ]단 -----
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
-----[ 7 ]단 -----
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
-----[ 8 ]단 -----
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
-----[ 9 ]단 -----
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

## 3. (*)로 Tree 만들기
- 사용자에게 Tree의 높이 (기둥 부분 제외) 를 입력받아, 그 높이만큼 Tree를 출력하는 코드를 작성하세요.
- 실행 예 :   
    
Tree 의 높이를 입력하세요(5~30) : 5
    
         *  
        ***  
       *****  
      *******  
     *********  
        ***  
        ***  
        ***

## 4. 로또 번호 추출하기
- 사용자에게 로또 개수를 입력 받아, 1부터 45까지 번호 중 여섯개의 로또 번호를 랜덤으로 생성하는 코드를 작성하세요.
- 같은 로또 안에서 중복된 숫자가 있으면 안됩니다.
- 실행 예 :   
    
로또 개수를 입력하세요 : 5  
[6, 9, 13, 23, 36, 44]  
[3, 7, 12, 27, 42, 44]  
[8, 12, 28, 29, 31, 44]  
[1, 24, 33, 37, 40, 45]  
[9, 12, 22, 26, 36, 38]

------------------------------
# 끝
## 수고하셨습니다 ^_^

### Reference
- Python 3.4 공부 좀 해볼까?
- 파이썬 코딩 도장
- 초보자를 위한 파이썬 300제